<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayush | Home</title>
    <link rel="icon" href="media/title.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://kit.fontawesome.com/4cd637034f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="notice">
        <div class="not-cont">
            <span>This website is under maintainence for mobile phones and ipads/tablets. But you can view it in Laptop</span>
        </div>
    </div>    
        <section class="home" id="home">

                <div class="title-bar">
                    
                    <a href="#home"><img src="media/logo.png" alt="Aayush's logo"></a>
        
                    <div class="nav">
                        <ul>
                            <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
                            <li><a href="#about"><i class="fa-solid fa-user"></i></a></li>
                            <li><a href="#skills"><i class="fa-solid fa-laptop-code"></i></i></a></li>
                            <li><a href="#education"><i class="fa-solid fa-school"></i></a></li>
                            <li><a href="#projects"><i class="fa-solid fa-laptop-file"></i></a></li>
                            <li><a href="#ecas"><i class="fa-solid fa-medal"></i></a></li>
                            <li><a href="#contact"><i class="fa-regular fa-address-card"></i></a></li>
                        </ul>
            
                    </div>
                    <div class="ftitle-bar">
                        <div class="fnav">
                            <ul>
                                <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
                                <li><a href="#about"><i class="fa-solid fa-user"></i></a></li>
                                <li><a href="#skills"><i class="fa-solid fa-laptop-code"></i></i></a></li>
                                <li><a href="#education"><i class="fa-solid fa-school"></i></a></li>
                                <li><a href="#projects"><i class="fa-solid fa-laptop-file"></i></a></li>
                                <li><a href="#ecas"><i class="fa-solid fa-medal"></i></a></li>
                                <li><a href="#contact"><i class="fa-regular fa-address-card"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <p class="hero" id="hero"></p>
            <div class="text">
                <p class="intro">Welcome to this website</p>
            </div>
        </section>
        
        <section class="about" id="about">

            <div class="abt-cont">

                <div class="image">
                    <img src="/media/webpic.png" alt="Aayush's Photo">
                </div>
    
            <div class="text">
                <div class="name">
                    <h1>Aayush Khatiwada</h1>
                    <h3>Student</h3>
                </div>
                <div class="aboutme">
                        Dedicated and enthusiastic programmer with multiple projects and over three years of experience. Eager to learn new things, with a great interest in computer science and programming. Particular interest in learning computer networks and cyber security.
                </div>
            </div>

            </div>

        </section>

        <section class="skills" id="skills">
            <div class="skills-cont">
                <span class="h1">SKILLS</span>
                <div class="bars">
                    <div class="barleft">
                        <div class="html">
                            <div class="sk"><img src="media/html.png" alt="html" height="70px" title="HTML"> <p>Expert</p></div>
                            <div class="bar"><div class="full anim"></div></div>
                        </div>
                        <div class="css">
                            <div class="sk"><img src="media/css.png" alt="CSS" height="70px" title="CSS"> <p>Adept</p></div>
                            <div class="bar"><div class="more anim"></div></div>
                        </div>
                        <div class="js">
                            <div class="sk"><img src="media/js.png" alt="js" height="70px" title="Javascript"> <p>Skillful</p></div>
                            <div class="bar"><div class="half anim"></div></div>
                        </div>
                    </div>
                    <div class="barright">
                        <div class="node">
                            <div class="sk"><img src="media/node.png" alt="node.js" height="70px" title="node.js"> <p>Novice</p></div>
                            <div class="bar"><div class="less anim"></div></div>
                        </div>
                        <div class="python">
                            <div class="sk"><img src="media/python.png" alt="Python" height="70px" title="Python"> <p>Starter</p></div>
                            <div class="bar"><div class="empty anim"></div></div>
                        </div>
                        <div class="html">
                            <div class="sk"><img src="media/csharp.png" alt="C#" height="70px" title="C#"> <p>Novice</p></div>
                            <div class="bar"><div class="least anim"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="education" id="education">
            <div class="edu-cont">
                <span class="h1">EDUCATION BACKGROUND</span>
                <div class="edu-carousel">
                    <div class="edu1 glass">
                        <span class="edu-logo"><img src="/media/ugsslogo.png"></span>
                        <p>
                           <span class="a">Uniglobe SS / College</span><br> 
                           <p class="b">
                            NEB +2 <br> 
                            Grade : A <br> 
                            GPA : 3.25 (Scale of 4) <br>
                            Completed in 2022
                           </p> 
                        </p>
                    </div>
                    <div class="edu2 glass">
                        <span class="edu-logo"><img src="/media/opslogo.png"></span>
                        <p>
                           <span class="a">Occidental Public School</span><br> 
                           <p class="b">
                               SEE <br>
                               Grade : A+ <br> 
                               GPA : 3.80 (Scale of 4) <br> 
                               Completed in 2020
                           </p> 
                        </p>
                    </div>
                </div>
            </div>  
        </section>

        
        <section class="project" id="projects">
            <div class="project-cont">
                <span class="h1">PROJECTS</span>
                <div class="project-carousel">
                    <div class="proj1 glass">
                        <span class="project-logo"><img src="/media/khelxalogo.jpg"></span>
                        <p>
                           <span class="a">Website for Khelxa (2022)</span><br> 
                           <p class="b">
                            Khelxa is a concept of a sports-streaming platform. I collaborated with some of my friends to develop a website for this platform. The languages used in this website are HTML, CSS, Js, and node.js.
                           </p> 
                        </p>
                    </div>
                    <div class="proj2 glass">
                        <span class="project-logo"><img src="/media/discordbot.jpg"></span>
                        <p>
                           <span class="a">Discord Bot (2021)</span><br> 
                           <p class="b">
                            I worked with one of my friends to create a bot for my
                            discord server. It is a multi-purpose bot that can play
                            music, send gifs, auto-respond to trigger commands,
                            and many more. This bot is made using the discord.js
                            library for node.js.
                           </p> 
                        </p>
                    </div>

                    <div class="proj3 glass">
                        <span class="project-logo"><img src="/media/logo.png"></span>
                        <p>
                           <span class="a">This Website (2020)</span><br> 
                           <p class="b">
                            This is my solo project. I created a website for myself where I demonstrated my programming skills. I also incorporated my cv into the website. The languages used in this website are HTML, CSS, Js, and node.js.
                           </p> 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="ecas" id="ecas">
            <div class="ecas-cont">
                <span class="h1">EXTRACURRICULARS</span>
                <div class="ecas-carousel">
                    <div class="eca1 glass">
                        <span class="ecas-logo"><img src="/media/etslogo.png"></span>
                        <p>
                           <span class="a">English Olympiad (Oct 2022)</span><br> 
                           <p class="b">
                            Participant in English Olympiad, organized by DP Cube Learning and powered by ETS TOEFL (National Rank: 25).
                           </p> 
                        </p>
                    </div>
                    <div class="eca2 glass">
                        <span class="ecas-logo"><img src="/media/vlogo.png"></span>
                        <p>
                           <span class="a">Volunteer (Aug 2022)</span><br> 
                           <p class="b">
                            Volunteer in the 7th Management and IT
                            Fair by Universal Thought Consult.
                           </p> 
                        </p>
                    </div>
                </div>
            </div>  
        </section>

    <footer id="contact">
        <div class="readmain">
            <div class="read">
                    <a href="/files/Resume.pdf" download="">Download Resume</a>
                </div>
        </div>
        <div class="contact-cont">
            <div class="contact" id="cont">
                <h1>Contact</h1>
                <div class="contact-content">
                    <p>Aayush Khatiwada</p>
                    <p>Ph +977 9801031828</p>
                    <p>khatiwadaprince1@gmail.com</p>
                    <hr size="3" color="#728197">
                    <p>69 Siddartha Marga, Anamnagar</p>
                    <p>Kathmandu, Nepal 44600</p>
                </div>
            </div>
    
            <div class="links" id="links">
                <h1>Links</h1>
                <div class="links-content">
                    <p><a href="https://www.facebook.com/Sly.Imp69" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></p>
                    <p><a href="https://www.instagram.com/sly.imp/" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></p>
                    <p><a href="https://github.com/Sly-Imp" target="_blank"><i class="bi bi-github"></i>GitHub</a></p>
                    <p><a href="https://discord.gg/JvqkdWzKah" target="_blank"><i class="bi bi-discord"></i>Discord</a></p>
                </div>
            </div>
    
            <div class="feedback" id="fback">
                <h1>Feedback</h1>
                <div class="feedback-content">
                    <form action="/mail" method="post">
                        <p><span>Full name</span> <input type="text" required name="fullname"> <br> 
                            <span>Email</span><input type="Email" required name="email"> </p>
                            <p><span>Your Message</span><textarea name="feedback" id="fedback" cols="30" rows="3" minlength="5" maxlength="100" required></textarea> 
                                <br> <button class="send">Send</button>
                                </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="cprt">
            <p>© Copyright 2022 Aayush Khatiwada</p>
        </div>
    </footer>


    <div class="goup">
        <a href="#home"><i class="bi bi-caret-up-fill"></i></a>
    </div>

</body>


<script src="/main.js"></script>
<script>
    var typed = new Typed('#hero', {
    strings : ['नमस्ते', 'Hello', 'Hola', 'Hallo', 'Ciao', 'Olá'],
    typeSpeed: 200,
    backSpeed:100,
    loop:true
});
</script>

</html>
