<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aayush | Resume</title>
    <link rel="icon" href="media/title.png">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="main.js"></script>
</head>
<body>
    <header>
        <div class="title-bar">
            
            <img src="media/logo.png" alt="Aayush's logo">

            <div class="nav">
                <a href="/">Home</a>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="cprt">
            <p>© Copyright 2022 Aayush Khatiwada</p>
        </div>
    </footer>

</body>
</html>