@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Noto Sans', sans-serif;
    background: rgba(4,9,30,0.7);
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.notice {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100vw;
    height: 200%;
    z-index: 1;
}

.not-cont {
    margin: 10rem;
    font-size: 20px;
}

@media only screen and (max-width:1350px) {
    body,html {
        overflow-y: hidden;
    }
     .notice {
        display: block;
     }
}

.home {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/homewall.png");
    background-position: center;
    background-attachment: fixed;
}

header {
    position: absolute;
    background-color: black;
}

.title-bar {
    display: flex;
}

.title-bar img {
    height: 15vh;
    margin: 1vw 0 1vw 4vw;
}

.nav {
    margin-left: 44vw;
    padding-top: 8vh;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.title-bar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2vw;
    font-weight: 600;
    padding-inline: 1vw;
    transition: 0.3s ;
}

.title-bar a:hover {
    color: #667fea;
}

.ftitle-bar {
    min-width: 100vw;
    position: fixed;
    background: transparent;
    display: none;
    z-index: 2;
    transition: 1s;
}

.fnav {
    border-radius: 2vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/homewall.png");
    position: absolute;
    margin: 7vw 0 0 1vw;
}

.fnav ul {
    display: grid;
}

.fnav ul li {
    padding-block: 1vw;
    list-style: none;
    position: relative;
}

.ftitle-bar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2vw;
    padding-block: 1vw;
    transition: 0.3s ;
}

.ftitle-bar a:hover {
    color: #667fea;
}

.home {
    min-height: 100vh;
}

.text {
    display: grid;
    justify-content: center;
    margin: 30vh;
}

.intro {
    font-size: 3rem;
    color: gray;
    margin-top: 5rem;
}

.hero {
    font-size: 8rem;
    color: cyan;
    font-weight: 600;
    position: absolute;
    left: 38vw;
    top: 35vh;
}

.typed-cursor {
    display: none;
}

.about {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 5rem 6rem 3rem 6rem;
}

.about .abt-cont {
    display: flex;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/aboutwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.about .image {
    margin: 7rem 3rem;
}

.about .image img {
    height: 23rem;
    width: 23rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,0.7);
}

.about .text {
    margin: 7rem 3rem;
}

.about .text .name {
    margin-bottom: 3rem;
}

.name h1 {
    font-size: 4rem;
}

.name h3 {
    font-size: 2.5rem;
}

.text .aboutme {
    font-size: 1.7rem;
    text-align: justify;
    width: 90%;
}


.skills {
    background: linear-gradient(rgba(3, 6, 19, 0.7),rgba(4,9,30,0.7));
    min-height: 100vh;
    padding: 3rem 6rem;
}

.skills-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/skillwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.skills .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;
}

.bars {
    display: flex;
    max-width: 100%;
    margin-top: 3rem;
}

.barleft {
    margin-inline: 7rem;
    margin-bottom: 4rem;
}

.barright {
    margin-inline: 7rem;
    margin-bottom: 4rem;
}

.bars img {
    padding: 0 0 0.7rem 0.7rem;
}

.sk p {
    padding: 1.3rem;
    margin-left: 20vw;
}

.sk {
    display: flex;
}

.bars .bar {
    border-radius: 1rem;
    height: 1vw;
    width: 31vw;
    background-color: rgb(182, 181, 181);
    border: 1px solid #000;
    margin-bottom: 2vw;
    padding: 0.2rem;
}

.bar div {
    content: '';
    position: relative;
    background-color: #667fea;
    height: 1vh;
    border-radius: 1rem;
}

.full {
    width: 95%;
}

.more {
    width: 80%;
}

.half {
    width: 65%;
}

.less {
    width: 20%;
}

.least {
    width: 25%;
}

.empty {
    width: 5%;
}

.education {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 6rem 6rem;
}

.edu-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/eduwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.education .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;
}

.edu-cont .edu-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.edu-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.edu-logo img {
    height: 5rem;
    border-radius: 50%;
}

.edu1 {
    margin: 3rem 4rem 6rem 15rem;
    width: 25rem;
}

.edu2 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

.a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
}

.b{
    font-size: 1.3rem;
    margin-left: 1rem;
}

.project {
    background: linear-gradient(rgba(3, 6, 19, 0.7),rgba(4,9,30,0.7));
    min-height: 100vh;
    padding: 3rem 6rem;
}

.project-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/projectwall.jpg");
    background-position: center;
    border-radius: 2rem;
}
.project .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;

}

.project-cont .project-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.project-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.project-logo img {
    height: 5rem;
    border-radius: 50%;
}

.proj1 {
    margin: 3rem 2rem 6rem 2.5rem;
    width: 25rem;
}

.proj2 {
    margin-block: 3rem 6rem;
    margin-right: 2rem;
    width: 25rem;
}

.proj3 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

 .project .a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
    text-align: justify;
}

.project .b{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.ecas {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 6rem 6rem;
}

.ecas-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/ecawall.png");
    background-position: center;
    border-radius: 2rem;
}

.ecas .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;
}

.ecas-cont .ecas-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.ecas-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.ecas-logo img {
    height: 5rem;
    border-radius: 50%;
}

.eca1 {
    margin: 3rem 4rem 6rem 15rem;
    width: 25rem;
}

.eca2 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

.ecas .a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
}

.ecas .b{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.readmain {
    display: grid;
    justify-content: center;
}

.read {
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-left: 3rem;
}

.read a {
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    margin-inline: 0.2rem;
    background: #2d3748;
    border: 1px solid gray;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    padding: 0.8rem;
}

footer {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/contactwall.jpg");
    background-position: center;
    font-family: ubuntu;
    min-height: 100vh;
}

.contact-cont {
    display: flex;
}

.contact hr {
    width: 125%;
    margin: 4px;
    margin-left: -3px;
}

.contact {
    margin: 4rem 9rem;
}

.links {
    margin: 3rem;
}

.contact-content, .links-content, .feedback-content {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #667fea;
    font-family: ubuntu;
}

.contact-content p {
    padding: 0.5rem 0;
}

.links-content p {
    padding: 1rem 0;
}

.links a {
    text-decoration: none;
    color: white;
}

.links-content .bi {
    margin: 0 0.4rem;
}

.bi-facebook {
    color: #4267B2;
}

.bi-instagram {
    color: #E1306C;
}

.bi-discord {
    color: #7289d9;
}

.feedback {
    margin: 3rem 0;
    padding: 0 4rem 0 9rem;
}

.feedback input {
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 120%;
    border: none;
    color: azure;
    outline: none;
    background: none;
    margin-right:2rem;
    border-bottom: solid #728197;
}

.feedback textarea {
    font-size: 1rem;
    color: azure;
    background: none;
    border: none;
    outline: none;
    border-bottom: solid #728197;
    width: 120%;
}

.feedback span {
    color: lightgreen;
}

.send {
    width: 120%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color:grey;
    border: none;
    color: white;
    cursor: pointer;
}

.cprt {
    background: #434343;
    height: 36px;
    text-align: center;
    margin-top: 0.7vh;
}

.cprt p {
    padding-top: 0.5rem;
    font-family: Comic Sans MS;
}

.goup {
    border: 1px solid red;
    border-radius: 50%;
    background: red;
    width: 3rem;
    height: 3rem;
    display: grid;
    position: fixed;
    right: 2rem;
    /* bottom: 1rem; */
    bottom: -2rem;
    cursor: pointer;
    transition: 0.3s;
}

.goup i {
    font-size: 1.8rem;
    padding-inline: 0.6rem;
    color: black;
    position: relative;
    top: 0.7vh;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(17, 224, 224, 0.941);
    border-radius: 100vw;
    transition: 0.7s;
}

::-webkit-scrollbar-thumb:hover {
    background: fuchsia;
}