@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Noto Sans', sans-serif;
    background: #1a212d;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.notice {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100vw;
    height: 200%;
    z-index: 1;
}

.not-cont {
    margin: 10rem;
    font-size: 20px;
}

@media only screen and (max-width:1350px) {
    body,html {
        overflow-y: hidden;
    }
     .notice {
        display: block;
     }
}

.title-bar {
    display: flex;
}

header .title-bar img {
    height: 10rem;
    margin-left: 1rem;
}

.nav {
    background: #2d3748;
    margin-left: 38rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    padding: 1rem;
    border-radius: 35px;
}

.title-bar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 600;
    padding: 0 2rem;
    transition: 0.3s ;
}

.title-bar a:hover {
    color: #667fea;
}

.fnav{
    right: -5rem;
    display: grid;
    font-size: 1.5rem;
    position: fixed;
    background: #2d3748;
    padding: 1rem;
    border-radius: 35px;
    transition: 0.3s;
}

.fnav a {
    text-decoration: none;
    color: whitesmoke;
    margin-block: 2rem;
    transition: 0.3s;
}

.fnav a:hover{
    color: #667fea;
}

.home {
    display: flex;
}

.text {
    margin-top: 8rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
}

.intro {
    font-size: 2.5rem;
    margin-bottom: -0.5rem;
}

.intro2 {
    font-size: 1.5rem;
    color: gray;
    margin-top: 5rem;
}

.hero {
    font-size: 4rem;
    color: cyan;
    font-weight: 600;
    position: absolute;
}

.typed-cursor {
    display: none;
}

.potrait {
    margin-left: 20rem;
    margin-bottom: 6.7rem;
}

.potrait img {
    height: 120%;
    margin-top: 1rem;
}

.about {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 5rem 6rem 3rem 6rem;
}

.about .abt-cont {
    display: flex;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/aboutwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.about .image {
    margin: 7rem 3rem;
}

.about .image img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.about .text {
    margin: 7rem 3rem;
}

.about .text .name {
    margin-bottom: 3rem;
}

.name h1 {
    font-size: 4rem;
}

.name h3 {
    font-size: 2.5rem;
}

.text .aboutme {
    font-size: 1.7rem;
    text-align: justify;
    width: 90%;
}


.skills {
    background: linear-gradient(rgba(3, 6, 19, 0.7),rgba(4,9,30,0.7));
    min-height: 100vh;
    padding: 3rem 6rem;
}

.skills-cont {
    display: flex;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/aboutwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.education {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 6rem 6rem;
}

.edu-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/eduwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.education .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;

}

.edu-cont .edu-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.edu-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.edu-logo img {
    height: 5rem;
    border-radius: 50%;
}

.edu1 {
    margin: 3rem 4rem 6rem 15rem;
    width: 25rem;
}

.edu2 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

.a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
}

.b{
    font-size: 1.3rem;
    margin-left: 1rem;
}

.project {
    background: linear-gradient(rgba(3, 6, 19, 0.7),rgba(4,9,30,0.7));
    min-height: 100vh;
    padding: 3rem 6rem;
}

.project-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/projectwall.jpg");
    background-position: center;
    border-radius: 2rem;
}
.project .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;

}

.project-cont .project-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.project-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.project-logo img {
    height: 5rem;
    border-radius: 50%;
}

.proj1 {
    margin: 3rem 2rem 6rem 2.5rem;
    width: 25rem;
}

.proj2 {
    margin-block: 3rem 6rem;
    margin-right: 2rem;
    width: 25rem;
}

.proj3 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

 .project .a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
    text-align: justify;
}

.project .b{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: justify;
}

.ecas {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(3, 6, 19, 0.7));
    min-height: 100vh;
    padding: 6rem 6rem;
}

.ecas-cont {
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("/media/eduwall.jpg");
    background-position: center;
    border-radius: 2rem;
}

.ecas .h1 {
    display: grid;
    font-size: 3rem;
    justify-content: center;
    padding-top: 3rem;
}

.ecas-cont .ecas-carousel {
    display: flex;
}

.glass {
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem;
}

.ecas-logo {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

.ecas-logo img {
    height: 5rem;
    border-radius: 50%;
}

.eca1 {
    margin: 3rem 4rem 6rem 15rem;
    width: 25rem;
}

.eca2 {
    margin-block: 3rem 6rem;
    width: 25rem;
}

.ecas .a{
    font-size: 1.7rem;
    display: grid;
    justify-content: center;
}

.ecas .b{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    text-align: justify;
}


/* .resume {
    display: flex;
    font-family: 'Lato', sans-serif;
    border: 3px solid #667fea;
    margin: 5rem;
    border-radius: 3rem;
    padding-bottom: 4.2rem;
    padding-top: 3.5rem;
}

.cvleft {
    margin-left: 5rem;
}

.cvleft .photo {
    margin: 2rem 2rem 2rem 0;
}

.cvleft .photo img {
    height: 20rem;
    width: 20rem;
    background-color: white;
    border-radius: 50%;
}

.cvleft .skills {
    display: grid;
    margin-left: 2rem;
    margin-top: 3rem;
}

.h1 {
    font-size: 2rem;
    color: #667fea;
    margin-bottom: 1rem;
}

.h1::after {
    content: '';
    width: 25%;
    height: 5px;
    background: #667fea;
    display: block;
}

.sk {
    display: flex;
}

.sk1 {
    margin: 1.5rem 4rem;
}

.sk1 span {
    font-size: 1.3rem;
}

.cvleft .skills .jsicon {
    margin-left: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.75rem;
}

.node {
    margin-top: 0.7rem;
}

.cvleft .languages {
    display: grid;
    margin-left: 2rem;
    margin-top: 3rem;
}

.lg {
    font-size: 1.3rem;
}

.cvleft .education {
    display: grid;
    margin-left: 2rem;
    margin-top: 3rem;
}

.ed {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.cvright .name {
    margin: 4rem 0 2rem 2rem;
}

.cvright .name h1 {
    font-size: 64px;
}

.cvright .name h3 {
    font-size: 40px;
    font-weight: 400;
}

.cvright .aboutme {
    width: 60%;
    margin-left: 17rem;
}

.cvright .aboutme .abt {
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 2rem;
}

.cvright .projects {
    width: 60%;
    margin-left: 17rem;
    margin-top: 3rem;
}

.cvright .projects .project1 {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}
.h2 a{
    text-decoration: none;
    color: #26b4e7;
}

.one::before {
    content: '1. ';
    margin-left: -2rem;
}

.cvright .projects .project2 {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.two::before {
    content: '2. ';
    margin-left: -2rem;
}

.cvright .projects .project3 {
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.three::before {
    content: '3. ';
    margin-left: -2rem;
}

.cvright .ecas {
    width: 60%;
    margin-left: 17rem;
    margin-top: 3rem;
}

.cvright .ecas .eca1 {
    display: flex;
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.cvright .ecas .eca2 {
    display: flex;
    margin-top: 2rem;
    font-size: 1.3rem;
    text-align: justify;
}

.date {
    margin-right: 2rem;
} */


/* .about {
    padding: 7rem 15rem;
    font-family: ubuntu;
    min-height: 100vh;
}

.about-row1 {
    border: 2px solid cyan;
    border-radius: 2rem;
    height: 75vh;
    transition: 0.7s;
}

.about-row1:hover {
    border: 2px solid fuchsia;
    cursor: text;
}

.about-row1:hover .profile {
    border: 2px solid fuchsia;
    cursor: text;
}

.profile {
    height: 14rem;
    border-radius: 50%;
    border: 2px solid cyan;
    margin-left: -5rem;
    margin-top: -4rem;
    transition: 0.7s;
}

.naam {
    text-align: center;
    font-size: 3.1rem;
    margin-top: -9rem;
}

.nicknaam {
    font-size: 1.1rem;
    text-align: center;
    color: #b1b1b1;
}

.about-content {
    display: flex;
    margin-bottom: 2rem;
}

.info {
    margin: 2rem 4.5rem 0 9.5rem;
    width: 21vw;
}

.info h1 {
    font-size: 2.4rem;
    font-weight: 800;
    margin: 2rem 0 1rem 0;
}

.info p {
    font-size: 1.3rem;
}

.detail {
    margin-top: 1rem;
}

.line {
    margin-top: 2rem;
    margin-right: 1rem;
    height: 21rem;
    border: 1px solid gray;
}

.extra {
    margin: 3.5rem 3rem;
}

.languages h1 {
    font-size: 2.4rem;
    font-weight: 800;
}

.languages img {
    height: 4rem;
    margin: 0.5rem 0.5rem 1rem 0;
}

.languages .js {
    height: 3.2rem;
    margin-inline: 0.5rem;
}

.languages .node {
    height: 3.7rem;
    margin-inline: 0.5rem;
}

.interest h1 {
    font-size: 2.4rem;
    font-weight: 800;
}

.tags {
    margin-top: 0.5rem;
}

.r1, .r2, .r3 {
    display: flex;
    margin-bottom: 0.5rem;
}

.tags p {
    cursor: pointer;
    color: whitesmoke;
    margin-inline: 0.2rem;
    background: #2d3748;
    border: 1px solid gray;
    width: 50%;
    text-align: center;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 0.5rem;
} */

.readmain {
    display: grid;
    justify-content: center;
}

.read {
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-left: 3rem;
}

.read a {
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    margin-inline: 0.2rem;
    background: #2d3748;
    border: 1px solid gray;
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    padding: 0.8rem;
}

footer {
    display: flex;
    background: #2d3748;
    font-family: ubuntu;
}

.contact hr {
    width: 125%;
    margin: 4px;
    margin-left: -3px;
}

.contact {
    margin: 4rem 9rem;
}

.links {
    margin: 3rem;
}

.contact-content, .links-content, .feedback-content {
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #667fea;
    font-family: ubuntu;
}

.contact-content p {
    padding: 0.5rem 0;
}

.links-content p {
    padding: 1rem 0;
}

.links a {
    text-decoration: none;
    color: white;
}

.links-content .bi {
    margin: 0 0.4rem;
}

.bi-facebook {
    color: #4267B2;
}

.bi-instagram {
    color: #E1306C;
}

.bi-discord {
    color: #7289d9;
}

.feedback {
    margin: 3rem 0;
    padding: 0 4rem 0 9rem;
}

.feedback input {
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 120%;
    border: none;
    color: azure;
    outline: none;
    background: none;
    margin-right:2rem;
    border-bottom: solid #728197;
}

.feedback textarea {
    font-size: 1rem;
    color: azure;
    background: none;
    border: none;
    outline: none;
    border-bottom: solid #728197;
    width: 120%;
}

.feedback span {
    color: lightgreen;
}

.send {
    width: 120%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color:grey;
    border: none;
    color: white;
    cursor: pointer;
}

.cprt {
    background: #434343;
    height: 36px;
    text-align: center;
}

.cprt p {
    padding-top: 0.5rem;
    font-family: Comic Sans MS;
}

.goup {
    border: 1px solid red;
    border-radius: 50%;
    background: red;
    width: 3rem;
    height: 3rem;
    display: grid;
    position: fixed;
    right: 2rem;
    /* bottom: 1rem; */
    bottom: -2rem;
    cursor: pointer;
    transition: 0.3s;
}

.goup i {
    font-size: 1.8rem;
    padding-inline: 0.6rem;
    color: black;
    position: relative;
    top: -0.3rem;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(17, 224, 224, 0.941);
    border-radius: 100vw;
    transition: 0.7s;
}

::-webkit-scrollbar-thumb:hover {
    background: fuchsia;
}